In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
import warnings
warnings.filterwarnings("ignore")

In [5]:
df = pd.read_csv("synthetic_client_queries.csv")

In [1]:
df.head()

NameError: name 'df' is not defined

In [10]:
df.dtypes

query_id             object
client_email         object
client_mobile         int64
query_heading        object
query_description    object
status               object
date_raised          object
date_closed          object
dtype: object

In [7]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   query_id           5200 non-null   object
 1   client_email       5200 non-null   object
 2   client_mobile      5200 non-null   int64
 3   query_heading      5200 non-null   object
 4   query_description  5200 non-null   object
 5   status             5200 non-null   object
 6   date_raised        5200 non-null   object
 7   date_closed        5146 non-null   object
dtypes: int64(1), object(7)
memory usage: 325.1+ KB

In [8]:
df.describe(include="all")

,query_id,client_email,client_mobile,query_heading,query_description,status,date_raised,date_closed
count,5200,5200,5.200000e+03,5200,5200,5200,5200,5146
unique,5200,5146,NaN,10,160,2,180,195
top,Q0001,pharris@example.org,NaN,UI Feedback,Font inconsistent across pages.,Closed,2025-03-17,2025-03-07
freq,1,3,NaN,570,48,5146,45,47
mean,NaN,NaN,5.051907e+09,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,2.903568e+09,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,2.393354e+06,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,2.539210e+09,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,5.112114e+09,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,7.599805e+09,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,9.995378e+09,NaN,NaN,NaN,NaN,NaN

In [11]:
df.isnull().sum()

query_id              0
client_email          0
client_mobile         0
query_heading         0
query_description     0
status                0
date_raised           0
date_closed          54
dtype: int64

In [17]:
df["date_closed"] = df["date_closed"].fillna("Not Closed")
df.isnull().sum()

query_id             0
client_email         0
client_mobile        0
query_heading        0
query_description    0
status               0
date_raised          0
date_closed          0
dtype: int64

In [19]:
df["date_raised"] = pd.to_datetime(df["date_raised"])
df["date_closed"] = pd.to_datetime(
    df["date_closed"], errors="coerce"
)

In [21]:
text_cols = ["query_heading", "query_description", "status"]

for col in text_cols:
    df[col] = df[col].str.lower()

In [22]:
for col in text_cols:
    df[col] = df[col].str.strip()

In [23]:
df.to_csv("preprocessed_client_queries.csv", index=False)